{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block content %}
    <header id="main-navigation">
        <h1><a href="">Hashbanger Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Hashbanger - The Author of The Blog">
            <h2>HASHBANGER BLOG</h2>
        </header>
        <p>Hi, I'm Prashant and I love to blog about programming and machine learning.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Starting Machine Learning">
                        <div class="post__content">
                            <h3>Machine Learning</h3>
                            <p>The interest in AI and Machine Learning is at peak during these times and rightfully too.
                                It is the way machines learn how to perform human tasks with great accuracy!
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love python and work as a Senior Engineer in Machine Learning.
            My goal is to keep up with the latest developments in AI and ML and use them to build cool things.
        </p>
    </section>
{% endblock %}